.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #039;
    z-index: 105;
    height: 80px;
    transition: box-shadow 0.3s;
    &.h_active {
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
    }
    @media print {
        position: relative;
    }
}
.logo {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 100%;
    padding: 0 35px 0 15px;
    clip-path: polygon(0 0, 0 100%, 90% 100%,100% 50%, 90% 0);
    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
    @media screen and (max-width: 400px) {
        font-size: 35px;
    }
}
